*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: "poppins", sans-serif;
}
.body1{
    background-color: #f5c29d;
    padding: 90px;
}
.body{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 20px;
 
    align-items: center;
}
.line{
    width: 100%;
    height: 3px ;
    background-color: #F97314;
}
.sect1 p{
    padding: 15px 0;
    font-size: 30px;
    font-weight: 700;
}
.sect1 h1{
    font-size: 45px;
    color: #F97314;
    font-weight: 900;
    padding: 20px;
}
.sect2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.letters{
    width: 450px;
    padding: 10px;  
    margin-top: 30px;
}
.p{
    text-align: left;
}
.p1{
    text-align: left;
    padding: 10px 0;
}
.box {  
    width: 320px;  
    height: 100px;  
    background-color: #f0f0f0;  
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    border-radius: 5px; 
}  

.numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    color:#F97314 ;
    padding: 10px;  
    font-size: 24px;
    font-weight: 600;
}

.lasted{
    margin-top: 30px;
}
.sect3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.numbers div{
    margin: 0 12px 10px;
    font-size: 26px;
    color: #F97314;
    font-weight: 700;
}
.lines{
    width: 2px;
    height: 50px ;
    background-color: #f0f0f0;
}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.first p{
    text-decoration: underline;
    padding: 7px 25px ;
}
.footer{
    height: 20vh;
    background-color: #F97314;
    color: white;
    border-radius: 10px;

}

@media (max-width: 768px){
    p{
        font-size: 13px;
        text-align: center;
    }
    .letters{
        width: 350px;
    }
    .body1{
        padding: 50px;
    }
    .box {  
        width: 240px;  
        height: 80px; 
    }
}

@media (max-width: 768px){
    .body1{
        padding: 40px;
    }
    .sect2{
        padding: 0 30px;
    }
    .letters{
        width: 300px;
    }
    .numbers{
        padding: 2px 6px;
    }
}